{% extends 'layouts/site.html' %}
{% set title = "Регистрация" %}

{% from "macros/form.html" import render_field %}

{% block content %}
<div class="card w-50">
  <div class="card-body">
    <form method="POST" novalidate>
      {{ form.csrf_token() }}

      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ render_field(form.username) }}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ render_field(form.email) }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ render_field(form.password) }}
      </div>
      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ render_field(form.confirm_password) }}
      </div>
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
  </div>
</div>
{% endblock %}