{% extends 'layouts/admin.html' %}

{% set title = "Dashboard" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-3 mb-3 border-bottom">
  <h2 class="mb-0">{{ title }}</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Диких города обеспечивает встретил одна, образ злых журчит рыбными правилами домах страну, пустился вскоре необходимыми снова языкового. Семь, то ты.</p>
{% endblock %}