<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">{{ app_name }} AdminPanel</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div> <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
            <i class="fa-solid fa-house"></i>
            <span>Главная</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <i class="fa-solid fa-server"></i>
            <span>Настройки системы</span>
          </a>
        </li>
        <hr class="my-3">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.users', page = 1) }}">
            <i class="fa-solid fa-users"></i>
            <span>Пользователи</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.posts', page = 1) }}">
            <i class="fa-solid fa-newspaper"></i>
            <span>Новости</span>
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <h6 class="sidebar-heading px-3 text-body-secondary text-uppercase">{{ current_user.username }}</h6>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.edit_user', id = current_user.id) }}">
            <i class="fa-solid fa-user-gear"></i>
            <span>Настройки профиля</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('site.logout') }}">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Выход</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>