<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container">
    <a href="{{ url_for('site.index') }}" class="navbar-brand">{{ app_name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{{ url_for('site.index') }}" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Action</a></li>
            <li><a href="#" class="dropdown-item">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#" class="dropdown-item">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.username }}</a>
          <ul class="dropdown-menu">
            {% if current_user.has_privilege(privileges.ADMIN_ACCESS_PANEL) %}
            <li><a href="{{ url_for('admin.dashboard') }}" target="_blank" class="dropdown-item">Админпанель</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li><a href="#" class="dropdown-item">Профиль</a></li>
            <li><a href="#" class="dropdown-item">Настройки</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{{ url_for('site.logout') }}" class="dropdown-item">Выход</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('site.login') }}" class="nav-link">Войти</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('site.register') }}" class="nav-link">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>